
select.rdAgQbColor1, table.rdAgDataTable th.rdAgQbColor1 {
  border-top: 3px solid #2f7ed8;
}
optgroup.rdAgQbColor1{
  color: #2f7ed8;
}
select.rdAgQbColor2, table.rdAgDataTable th.rdAgQbColor2 {
  border-top: 3px solid #c42525;
}
optgroup.rdAgQbColor2{
  color: #c42525;
}
select.rdAgQbColor3, table.rdAgDataTable th.rdAgQbColor3 {
  border-top: 3px solid #8bbc21;
}
optgroup.rdAgQbColor3{
  color: #8bbc21;
}
select.rdAgQbColor4, table.rdAgDataTable th.rdAgQbColor4 {
  border-top: 3px solid #910000;
}
optgroup.rdAgQbColor4{
  color: #910000;
}
select.rdAgQbColor5, table.rdAgDataTable th.rdAgQbColor5 {
  border-top: 3px solid #1aadce;
}
optgroup.rdAgQbColor5{
  color: #1aadce;
}
select.rdAgQbColor6, table.rdAgDataTable th.rdAgQbColor6 {
  border-top: 3px solid #492970;
}
optgroup.rdAgQbColor6{
  color: #492970;
}