<?xml version="1.0"?>
<configuration>
  
  <!--For IIS6-->
  <system.web>
    <httpHandlers>
      <add verb="*" path="ngpDiscovery/*" type="rdServer.rdNgpProxyPageHandler,rdServer"/>      
    </httpHandlers>   
  </system.web>

  <!--For IIS7-->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>      
     <add  verb="*" path="ngpDiscovery/*"
                 name="rdNgpProxyPageHandler for discovery"
                 type="rdServer.rdNgpProxyPageHandler,rdServer"
                 resourceType="Unspecified"/>                         
    </handlers>
  </system.webServer>
</configuration>