
.rdCg
{ 
	font-size: 11px;
}
.rdCg TABLE
{ 
	font-size: 11px;
}
.rdCg SELECT
{ 
	font-size: 11px;
}

.rdCg IMG 	{
	border: 0;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	}

.rdCg A:link	{	
	text-decoration:none;
	color: #555555;
}
	
.rdCgCaptionRow
{
    background-image: url(rd666666.png);
    font-size: 14px; 
    font-weight:bold;	
	color: #FFFFFF;
	height:26px;
}
.rdCgCaptionRow TD {
	background-color: #666666;
}

#lblCgTitle
{
	padding:5px;
}

.rdCgPanel {
    background-color: #F8F8F8;
	vertical-align: top;
	border: 1px solid #C1C1C1;
}

.rdCgPanelLine {
	border-top: 1px solid #C1C1C1;
}

.rdCgContentHeadingRow
{
	background-color:#EEEEEE;
	width:100%;
	padding:0;
	margin-bottom:5px;
}
.rdCgContentHeading
{
	font-weight: bold;
	vertical-align:middle;
	white-space: nowrap;
	padding:0;
}


.rdCgTable
{    	
	background-color : #CCCCCC;
}

.rdCgPositionCellXAxis
{
	background-color: #ECECEC;
	border-right-style:solid;
	border-right-width:1px;
	border-right-color:#CCCCCC;
	vertical-align: top;
	font-weight: normal;
	padding:3px;
}
.rdCgPositionCellYAxis
{
	background-color: #ECECEC;
    background-image: url(rdF7F7F7-ECECEC.png);
    background-repeat:repeat-x; 
	vertical-align: top;
	font-weight: normal;
	padding:3px;
}

.rdCgDataCell
{
	background-color: white;
	text-align: right;
	padding:4px;
}

.rdCgFilterTable TD  { 
	background-image: none;
	background-color: transparent;
	border-color:transparent;
}

.rdCgChartContainer
{
	padding:5;
}

.rdCgPopupItem
{
	font-weight:normal;
}
.rdCgPopupItemSelected
{
	font-weight:bold;
}

.rdCgRowSpacer
{
	height:6px;
}

.rdCgNoPadding
{
	padding:0;
}

.rdCgAlignRight
{
	text-align: right;
}

.rdCgCommand
{
	font-weight:normal;
	color:#555555;
	text-decoration: none;
    background-image: url(../rdButton.png);
    background-color: #DDDDDD;
	border-top: 1px solid #DDDDDD;
	border-bottom: 1px solid #777777;
	border-right: 1px solid #777777;
	border-left: 1px solid #DDDDDD;
	margin-left: 3px;
	padding-right: 3px;
	padding-left: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	line-height:24px;
	white-space: nowrap;
}

.rdCgError
{
	color: DarkRed;
	font-weight:bold;	
}

.rdCgSelected
{
    font-weight:bold;	
	background-color: #666666;
	border-color:#666666;
	padding:2px;
	color: White;
}
.rdCgSelected A:link	{	
	color: White;
}
	
.rdCgSelectedNot
{
	color: #555555;
}

.rdAlignMiddle 
{
	vertical-align: middle;
}

.rdHidden
{
	display:none;
}


